
/*This section uses simple scroll-behavior property for Chrome and Mozilla temporarily*/
html {
	scroll-behavior: smooth;
}
body {
	overflow-x: hidden;
	text-align: center;
}
#logo {
	height: 48px;
	width: 48px;
	margin: 0 16px;
}

nav {
	background-color: #f1f1f1;
}
nav h1 {
	font-family: 'Roboto', Tahoma, sans-serif;
	font-weight: 700;
	font-size: 48px;

	animation: fadein 2s;
}

nav a {
	font-family: 'Roboto', Tahoma, sans-serif;
	font-size: 24px;
	font-weight: 300;
}

/*NOTE: Ensure there is consistent padding */
/*NOTE: Background-color could be purple with #7510f7 */
.about-me-container {
	display: flex;
	justify-content: center;
	text-align: center;
	font-family: 'Lato', Tahoma, sans-serif;
	padding: 16px 0;
}
.about-me-container #about-me-heading {
	display: block;
	justify-content: center;
	padding: 16px 0;
	font-size: 48px;
	font-family: 'Oswald', Tahoma, sans-serif;
	font-weight: 700;
}

.about-me-container #about-me-subHeading {
	font-family: 'Lato', Tahoma, sans-serif;
	font-size: 24px;
}
.about-me-container .about-me-more-container #title {
	font-family: 'Oswald', Tahoma, sans-serif;
	font-size: 24px;
}

.about-me-container #about-me-subHeading, #description{
	line-height: 1.5 !important;
	margin: 16px 0;
}
.about-me-container #subHeadingOne, #subHeadingTwo {
	margin-top: 32px;
}

.about-me-container .about-me-more-container .col-md-4 {
	border-radius: 8px;
	border: 1px solid rgba(0,0,0,0.2);
}

.about-me-container .about-me-more-container img {
	margin: 16px auto;
	width: 48px !important;
	height: 48px;
}

/**NOTE: Implement responsive design where there are breakpoints **/
.about-me-container #about-me-subHeading {
	width: 50vw;
	height: auto;
	margin: 0 auto 32px;
}
@media screen and (max-width: 768px) {
	.about-me-container #about-me-subHeading {
		width: 80vw;
		height: auto;
		margin: 0 auto 32px;
	}
}

.about-me-container .row-text {
	width: 80vw;
	height: auto;
	padding: 0 15px;
}
/* For screen sizes above 768px, enhance wording */
@media screen and (max-width: 768px) {
	.about-me-container .row-text {
		width: 95vw;
		height: auto;
	}
}
.about-me-container #viewResumeButton {
	margin-top: 32px;
	width: 150px;
}

.notable-projects-container {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 0;
}

.notable-projects-container video,img {
  display: block;
  justify-content: center;
	margin-left: auto;
  margin-right: auto;
	width: 100%;
}

.notable-projects-container #personal-projects {
	font-size: 48px;
	font-family: 'Oswald';
	font-weight: 700;
	margin: 16px 0;
}

/*Within the Notable Projects container,  */
.notable-projects-container h4 {
	font-size: 36px;
	font-family: 'Oswald', 'Roboto', Tahoma, sans-serif;
	font-weight: 400;
	margin-bottom: 4px;
}
.notable-projects-container #projectDate {
	font-size: 16px;
	line-height: 1.5;
	font-family: 'Oswald', Tahoma, sans-serif;
}

.notable-projects-container #projectDescription {
	padding: 8px 16px 0px;
	font-size: 16px;
	line-height: 1.5;
	font-family: 'Roboto', Tahoma, sans-serif;
}
.notable-projects-container #booksListingAppHeader {
	border: 4px solid rgba(0,0,0,1);
}

/**NOTE: Implement responsive design where there are breakpoints **/
.notable-projects-container .row-text {
	width: 90vw;
	height: auto;
	padding: 0 15px;
}
/* For screen sizes below 768px, enhance wording */
@media screen and (max-width: 768px) {
	.notable-projects-container .row-text {
		width: 95vw;
		height: auto;
	}
}

.best-photos-container h2 {
	display: flex;
	justify-content: center;
	text-align: center;
	line-height: 1.5;
	margin: 0;
	font-size: 48px;
	padding: 0 16px 16px;
	font-family: 'Oswald', Tahoma, sans-serif;
	font-weight: 700;
}

.best-photos-container img {
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
	width: 95%;
}

.contact-me-container {
	padding: 16px 20px 0;
}

.contact-me-container img {
  display: inline-block;
	justify-content: center;
	width: 100px;
	padding: 0 16px 0;
}

.contact-me-container h2 {
	font-family: 'Oswald', Tahoma, sans-serif;
	font-size: 48px;
	font-weight: 700;
	padding-top: 16px !important;
  display: block;
	justify-content: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.5;
}
.contact-me-container h5 {
	text-align: center;
	font-family: 'Lato', 'Roboto', Tahoma, sans-serif;
	font-size: 24px;
	line-height: 1.5 !important;
}
.contact-me-container .links {
	display: flex;
	justify-content: center;

}
/** View Resume button - added hover feature **/
.about-me-container #viewResumeButton {
	font-size: 24px;
	font-family: 'Lato', 'Roboto', Tahoma, sans-serif;
	border: none;
	text-align: center;
	padding: 16px;
	transition: all 0.5s;
  cursor: pointer;
  align-items: center;
	width: 200px;
}
#viewResumeButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
/** Creates the arrow if user were to submit form **/
#viewResumeButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
#viewResumeButton:hover span {
  padding-right: 20px;
}
#viewResumeButton:hover span:after {
  opacity: 1;
  right: 0;
}

/** Animation key attributes **/
@keyframes fadein {
	from { opacity: 0; }
	to {opacity: 1; }
}



/*Personal Favourite Photographs Section Support: */
/*Styling images for triggering modal- CSS code influenced by W3Schools*/

#pic1, #pic2, #pic3, #pic4 {
	border-radius: 8px;
	cursor: pointer;
	transition: 0.3s;
} #pic1:hover {opacity: 0.7;} #pic2:hover {opacity: 0.7;}
#pic3:hover {opacity: 0.7;} #pic4:hover {opacity: 0.7;}

/* Background- the modal itself (Class template can be implemented for multiple images in the gallery) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place, even when scrolling */
  z-index: 1; /* Sit on top */
	padding-top: 48px; /* Top padding implemented only. Other aspects not needed */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content- must keep an aspect ratio of 2:3 (width:height)*/
.modal-content {
  margin: auto;
  display: block;
	max-width: 384px;
	max-height: 576px;
}
/** Responsive design for modals with small screen breakpoint eg: phones **/
@media screen and (max-width: 576px) {
	.modal-content {
		max-width: 320px;
		max-height: 480px;
	}
}
/** ============================================= **/


/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption, #caption2, #caption3, #caption4 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ffffff;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption, #caption2, #caption3, #caption4 {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #cccccc !important;
  font-size: 2rem !important;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}